
/* -------------------- About Us --------------------*/
#aboutUs {
  background: linear-gradient(90deg, #D1F0F7 70%, #95C6D1 30%);
}

#aboutUs .aboutUs {
  min-height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 6rem 0;
  padding-top: 7rem;
}

.aboutUs-top {
  color: #5B7781;
  letter-spacing: .8rem;
  width: 88%;
  margin: 0 auto;
}

.aboutUs-title-chi {
  font-weight: 300;
  font-size: 3rem
}

.aboutUs-title-eng {
  font-size: 2.5rem
}

.aboutUs-bottom {
  width: 88%;
  display: flex;
  margin: 0 auto;
  /* margin-top: 350px; */
}

.aboutUs-bottom > div {
  width: 70%;
  color: #5B7781;
  letter-spacing: 0.15rem;
}

.aboutUs-bottom > div h1{
  font-size: 1.5rem;
  font-weight: 200;
}

.aboutUs-bottom > div h1:last-of-type{
  font-size: 1.2rem;
  margin-top: .8rem;
  line-height: 1.4rem;
}

.aboutUs-img{
  max-width: 90%;
  margin: 4rem 0;
  border-bottom-right-radius: 30px;
}

.aboutUs-learnMore {
  font-size: .9rem;
  color: white;
  letter-spacing: 0.15em;
  text-transform: uppercase; 
  text-align: right;
  width: 88%;
  margin: 0 5%;
  margin-top: 3rem;
  align-self: flex-end;
  text-decoration-color: none;
} 

.aboutUs-learnMore h3:first-of-type{
  color: white;
  font-weight: 200;
}

.aboutUs-learnMore h3:last-of-type{
  color: white;
  font-weight: lighter;
  letter-spacing: .1rem;
}
/* End of About Us */


/* -------------------- Treatment -------------------- */
#treatment .treatment {
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  padding: 6rem 0;
  color: #5B7781;
  text-transform: uppercase;
}

#treatment .treatment-top{
  padding: 0 1rem;
  margin-bottom: 2.5rem;
}

#treatment .treatment-top h1{
  color: #5B7781;
  text-align: left;
  letter-spacing: 1rem;
}

#treatment .treatment-middle{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#treatment .treatment-row {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

#treatment .scene{
  width: 120px;
  height: 120px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 600px;
  margin: .5rem 1.8rem;
}

#treatment .treatment-card {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

#treatment .card_face{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: white;
}

.face-back {
  background-color: white;
  color: #5b7781;
  border: 4px solid #5B7781;
  height: 120px;
  width: 120px;
  text-align: center;
  border-radius: 50%;
  transform: rotateY(180deg);
}

.is-flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

#treatment .face-back h1:first-of-type{
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin-top: 2.5rem;
  font-weight: 300;
}

#treatment .logo-container img{
  max-width: 100%;
  height: 120px;
}

#treatment .face-back h1:last-of-type{
  font-size: 1.2rem;
  font-weight: lighter;
}

#treatment .face-back h1:nth-child(2){
  /* font-size: 1.2rem; */
  font-weight: lighter;
}


#treatment .treatment-bottom {
  margin-top: 4rem;
  width: 100%;
  text-align: right;
  font-size: .9rem;
  padding: 0.2rem;
  letter-spacing: 0.15rem;
}

.display-none{
  display: none;
}
/* End of Treatment */


/* -------------------- Case Study --------------------*/
#caseStudies {
  background-color: #95C6D1;
  transition: background-color .4s ease-out;
}

#caseStudies .caseStudies {
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  padding: 6rem 0;
  min-height: 80vh;
  /* padding-bottom: 1rem; */
}

.caseStudies-top{
  margin-bottom: 3rem;
}

#caseStudies .caseStudies-top h1{
  color: white;
}

#caseStudies .caseStudies-title-chi{
  letter-spacing: 1rem;
}

.caseStudies-middle {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.post-slider{ /* Post Slider */
  width: 100%;
  overflow: hidden;
}

.post-wrapper {
  display: flex;
}

.post-wrapper .post{
  width: 100%;
}

.caseStudies-middle .next{
  position: absolute;
  max-width: 50px;
  top: 35%;
  right: -15px;
  cursor: pointer;
  color: #D1F0F7;
}

.caseStudies-middle .prev{
  position: absolute;
  max-width: 50px;
  top: 35%;
  left: -15px;
  cursor: pointer;
  color: #D1F0F7;
  transform: scaleX(-1);
}

.caseStudy-item img{
  background-color: white;
  /* max-width: 100%;
  height: auto; */
  border-top-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.caseStudy-title {
  background: linear-gradient(180deg, #D1F0F7 95%, #5b7781 5%);
  padding: .7rem;
  width: 90%;
  position: relative;
  top: -2rem;
  color: #5B7781;
}

.caseStudy-title > h3{
  font-size: 1.8rem;
}

.caseStudy-title >h3:last-of-type{
  margin-bottom: 1rem;
}

.caseStudy-title .caseStudy-example h3 {
  font-size: 1.5rem;
}

.caseStudy-example h3:nth-child(2),
.caseStudy-example h3:nth-child(4),
.caseStudy-example h3:nth-child(6){
  margin-bottom: .8rem;
}

.caseStudy-example h3:nth-child(1)::before,
.caseStudy-example h3:nth-child(3)::before,
.caseStudy-example h3:nth-child(5)::before{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f13a";
  margin-right: 5px;
}

.caseStudy-example h3:nth-child(2)::before,
.caseStudy-example h3:nth-child(4)::before,
.caseStudy-example h3:nth-child(6)::before{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f13a";
  margin-right: 5px;
  visibility: hidden;
}

.elderly-title {
  display: inline;
}

.caseStudy-example-elderly{
  margin-top: 0.5rem;
}
.castStydy-title-bottom {
  background-color: #5b7781;
  width: 100%;
}

.caseStudies-bottom {
  align-self: flex-end;
  margin-top: 3rem;
}

.caseStudies-bottom h3 {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.15rem;
  text-align: right;
  text-transform: uppercase;
}
/* End of Case Study */


/* -------------------- Contact Us -------------------- */
#contactUs {
  min-height: 80vh;
  background-color: #D1F0F7;
  padding: 2rem;
}
#contactUs .contactUs {
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  justify-content: normal;
  background-color: white;
  border-radius: 15px;
}

#contactUs .contactUs-header {
  margin-bottom: 30px;
  align-self: flex-start;
}

#contactUs .contactUs-header h1{
  color: #5B7781;
}

.contactUs-title-chi{
  letter-spacing: 1rem;
}

.contactUs-title-eng{
  font-size: 2.5rem;
}

.contactUs-allLocation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.contactUs-allLocation .location .location-img-jordan{
  background-image: url(./photo/aboutUs_privateRoom.jpg);
  background-position: right 15%;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.location-img-gc img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.location-info {
  color: #5B7781;
  text-align: center;
}

.location-info-chi{
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 200;
  font-size: 3rem;
  padding-top: .5rem;
  letter-spacing: .5rem;
}

.location-info-eng {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .6rem;
}

/* Timetable Container */
#contactUs .table{ 
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px dotted #999;
  border-top: 1px dotted #999;
  color: #5B7781;
  text-align: center;
  margin: 0 auto;
}

.contactUs .timetable-container{
  padding-top: 3rem;
}

.timetable-container .table-title{
  font-size: 2rem;
  color: #5B7781;
  width: fit-content;
  margin: 0 auto;
  font-weight: 200;
  line-height: 2rem;
}

.timetable-container .table-title-eng{
  letter-spacing: .2rem;
  padding-bottom: 1rem;
} 

.timetable-container .table thead tr th {
  padding: .5rem;
  font-size: .9rem;
  vertical-align: middle;
  line-height: 1.3rem;
}

.table-first-row h3,
.table tbody tr th h3{
  font-weight: lighter;
}

.table tbody tr th .table-time-top{
  padding: 1rem 0;
  letter-spacing: .12rem;
}

.table tbody tr th .table-time-mid{
  font-size: 1rem;
}

.table tbody tr th .table-time-bottom{
  padding-bottom: 1rem;
}

.table tbody tr{
  border-bottom: 1px dotted black;
  border-top: 1px dotted black;
}

.table tbody td{
  width: 50px;
  text-align: center;
}

.timetable-container .location-circle{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.table .circleSunday{
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.664);
}

.table .circleBlue,
.timetable-container h3 .circleBlue{
  font-size: 3.7rem;
  color: #5B7781;
}

.table .circleSmallBlue,
.timetable-container h3 .circleSmallBlue{
  font-size: 3.7rem;
  color: #95C6D1;
}

.table .circleSmallGreen{
  font-size: 3.7rem;
  color: #D1F0F7;
}

.timetable-container h3 .circleSmallBlue,
.timetable-container h3 .circleBlue{
  font-size: 2rem;
}

.timetable-container h3 .circleSmallGreen{
  font-size: 2rem;
  color: #D1F0F7;
}

.timetable-container .table .not-circle{
  padding-top: 7px;
}

.timetable-container .table .not-circle img{
  width: 15px;
  height: 15px;
}

.timetable-container .table .triangle{
  padding-top: 7px;
}

.timetable-container .location-circle h3{
  font-size: 1.2rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  width: fit-content;
  padding-left: .3rem;
}

.timetable-container .location-circle .circleBlue{
  font-size: 3.7rem;
  color: #5B7781;
}

.timetable-container .location-circle .circle-gc,
.timetable-container .location-circle .circle-jd,
.timetable-container .location-circle .circle-fe{
  display: flex;
  align-items: center;
}

.timetable-container .location-circle .circleSmallBlue{
  font-size: 3.7rem;
  color: #95C6D1;
}

.timetable-container .location-circle .circle-title-chi{
  font-size: 1rem;
}

.timetable-container .location-circle .circle-title-eng{
  letter-spacing: .1rem;
  font-size: 1rem;
  font-weight: 200;
}

.location-circle .circle-fe .circle-fe-circle{
  padding-top: .4rem;
  padding-left: .4rem;
}

.contactUs .timetable-container .table-special{
  padding: 2rem;
  width: fit-content;
  margin: 0 auto;
}

.contactUs .timetable-container .table-special h3{
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 200;
  font-size: 1rem !important;
  letter-spacing: 0.15rem;
  color: #5B7781;
}

.contactUs .contact-details{
  width: 100%;
  padding: 1rem;
  border: 1px solid rgba(153, 153, 153, 0.747);
  text-align: center;
  color: #5b7781;
  position: relative;
  padding-top: 9rem;
  padding-bottom: 2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  text-transform: uppercase;
}

.contactUs .contact-detail-title{
  background-color: #D1F0F7;
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  font-size: 1.5rem;
  top: -2rem;
  left: 10%;
}

.contactUs .contact-details:after{
  content: "";
  position: absolute;
  height: 6px;
  width: 80%;
  left: 10%;
  background: #ccc;
  bottom: -5px;
}

.contactUs .contact-detail-title-chi{ 
  font-size: 2.2rem;
  letter-spacing: .3rem;
}

.contactUs .contact-detail-title-eng{
  letter-spacing: .3rem;
}

.contactUs .contact-details .contact-detail-name{
  font-size: 2.2rem;
  letter-spacing: 0.6rem;
  color: #5B7781;
  line-height: 2.4rem;
}

.contactUs .contact-details .contact-detail-name-gc{
  margin-top: 4rem;
}
.contactUs .contact-details .contact-detail-name-chi{
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 300;
}

.contactUs .contact-details .contact-detail-name-eng{
  font-weight: bold;
  font-size: 2.1rem;
}

.contactUs .contact-details .address-title-chi,
.contactUs .contact-details .address-chi,
.contactUs .contact-details .address-title-eng,
.contactUs .contact-details .address-eng,
.contactUs .contact-details .phone-detail{
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 2.5rem;
  letter-spacing: .1rem;
}

.contactUs .contact-details .address-title-chi,
.contactUs .contact-details .address-title-eng{
  padding-top: 2.5rem;
}

.contactUs .contact-details .address-eng{
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.contactUs .contact-details .phone-detail{
  font-weight: bold;
  padding-top: 2.5rem;
}

.contactUs .phone-detail-reminder{
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: .2rem;
}

.contactUs .phone-detail-time{
  padding-top: .5rem;
  font-size: 1.5rem;
  font-weight: 200;
}

.map {
  margin-top: 2rem;
  box-shadow: 3px 3px 5px #ccc;
}

.contactUs .contact-details .transit-information{
  padding: .5rem;
  font-size: 1.5rem;
  font-weight: lighter;
}

.contactUs .contact-details .transit-information-chi{
  letter-spacing: .1rem;
  padding-top: 1rem;
}

.contactUs-bottom {
  width: 100%;
}

.contactUs-bottom h3 {
  font-size: .9rem;
  color: #5B7781;
  padding: 0.2rem;
  letter-spacing: .15rem;
  text-align: right;
  text-transform: uppercase;
}

/* End of Contact Us */


/* -------------------- Media Query For PC --------------------*/
@media only screen and (min-width: 1200px){
  #aboutUs .aboutUs{
    min-height: 70vh;
  }

  .aboutUs-title-chi{
    font-size: 5rem;
  }

  .aboutUs-title-eng{
    font-size: 5rem;
  }

  .aboutUs-img img{
    max-width: 90% !important;
    /* position: relative !important; */
  }

  .aboutUs-bottom h1 {
    width: 100%;
    color: #5B7781;
    font-size: 2rem !important;
    font-weight: 300 !important;
    letter-spacing: 0.15rem;
  }

  .aboutUs-bottom > div h1:last-of-type{
    line-height: 2rem !important;
  }

  /* .aboutUs-learnMore h3,
  .caseStudies-bottom h3,
  .treatment .treatment-bottom h3{
    font-size: 1.8rem !important;
  } */
  
  #treatment .treatment{
    padding: 3rem 0 !important;
    padding-top: 5rem !important;
    justify-content: initial;
    min-height: 85vh;
  }

  #treatment .treatment-top{
    align-self: flex-start;
  }

  #treatment .treatment-top h1{
    font-size: 5rem;
  }

  #treatment .treatment-top h1:last-of-type{
    letter-spacing: 2rem !important;
    line-height: 5rem;
  }

  #treatment .treatment-middle{
    flex-direction: row !important;
    flex-wrap: wrap;
    min-width: 1200px;
    margin: 0 auto;
  }

  #treatment .treatment-row{
    display: initial !important;
  }

  #treatment .scene{
    width: 200px !important;
    height: 200px !important;
    margin: 4rem !important;
  }

  #treatment .treatment-card{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    cursor: initial;
  }

  .face-back{
    border: 7px solid #5B7781 !important;
  }

  .aboutUs-learnMore h3:first-of-type,
  .caseStudies-bottom h3:first-of-type,
  .treatment-bottom h3:first-of-type,
  .caseStudies-bottom h3:first-of-type{
    font-size: 1.9rem !important;
    font-weight: lighter;
  }

  .aboutUs-learnMore h3:last-of-type,
  .caseStudies-bottom h3:last-of-type,
  .treatment-bottom h3:last-of-type,
  .caseStudies-bottom h3:last-of-type{
    font-size: 1.8rem !important;
    font-weight: lighter;
  }

  .is-flipped {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
  }

  .display-none{
    display: block;
    font-weight: 200;
    font-size: 1.6rem !important;
    letter-spacing: .5rem;
  }

  #caseStudies .caseStudies{
    padding: 5rem 0;
    min-height: 95vh;
  }

  .caseStudies-top{
    align-self: flex-start;
  }

  #caseStudies .caseStudies-top h1:first-of-type{
    font-size: 5rem;
  }

  #caseStudies .caseStudies-top h1:last-of-type{
    font-size: 5rem;
    font-weight: lighter;
    letter-spacing: 1.3rem;
    line-height: 4.5rem;
    margin-bottom: 3rem;
  }  

  .caseStudy-title > h3{
    font-size: 2.5rem;
  }

  .caseStudy-title .caseStudy-example h3{
    font-size: 1.6rem;
  }
 
 .post-wrapper{
   justify-content: space-between;
  }
  
  .post{
    width: 30% !important;
  }
  .next,
  .prev{
    display: none;
  }

  /* .caseStudies-bottom h3:first-of-type{
    font-size: 2.5rem !important;
    font-weight: lighter;
  }

  .caseStudies-bottom h3:last-of-type{
    font-size: 2.5rem !important;
    font-weight: lighter;
  } */

  #contactUs{
    padding: 4rem;
  }

  #contactUs .contactUs-header{
    width: 88%;
    margin-top: 3rem;
    align-self: unset;
  }

  #contactUs .contactUs-header h1:first-of-type{
    width: 90%;
    font-size: 6rem;
  }

  #contactUs .contactUs-header h1:last-of-type{
    font-size: 6rem;
    font-weight: lighter;
    letter-spacing: 1.3rem;
    line-height: 4.5rem;
    margin-bottom: 6rem;
  }  

  .contactUs-allLocation{
    /* flex-direction: row; */
    align-items: initial;
  }

  .location-info-eng{
    letter-spacing: .5rem;
  }

  .contactUs-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
  }

  .contactUs-allLocation .location .location-img-jordan,
  .contactUs-allLocation .location .location-img-gc img{
    width: 250px;
    height: 250px;
  }

  .contactUs .contact-map{
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-around;
  }

  .contactUs .contact-map .contact-map-jd,
  .contactUs .contact-map .contact-map-gc{
    width: 40%;
  }

  .timetable-container .table-title{
    font-size: 3rem;
    line-height: 4rem;
  }

  .timetable-container .table thead tr th{
    font-size: 1.5rem;
    line-height: 2.4rem;
    padding: 1rem;
  }

  .table tbody tr th .table-time-top{
    font-size: 1.5rem;
  }

  .table tbody tr th .table-time-mid,
  .table tbody tr th .table-time-bottom{
    font-size: 1.6rem;
  }

  .timetable-container .table .triangle svg,
  .location-circle .circle-fe .circle-fe-circle svg{
    height: 34px;
    width: 34px;
  }

  .timetable-container .table .not-circle img{
    height: 25px;
    width: 25px;
  }

  .table .circleBlue, .timetable-container h3 .circleBlue,
  .table .circleSmallBlue, .timetable-container h3 .circleSmallBlue,
  .timetable-container .location-circle .circleBlue,
  .timetable-container .location-circle .circleSmallBlue{
    font-size: 7rem;
  }

  .timetable-container .location-circle{
    width: 78%;
    margin: 10px auto;
  }

  .contactUs .timetable-container .table-special{
    width: 82%;
    white-space: nowrap;
  }

  .timetable-container .location-circle h3,
  .contactUs .timetable-container .table-special h3{
    font-size: 1.5rem !important;
  }

  .contactUs .contact-details{
    padding-bottom: 4rem;
  }

  .contactUs .contact-details .contact-detail-name-gc{
    margin-top: 0;
  }

  .contactUs .contact-detail-title-chi{
    font-size: 3.5rem;
  }

  .contactUs .contact-detail-title-eng{
    font-size: 3rem;
  }

  .contactUs .contact-details .contact-detail-name{
    font-size: 2.3rem;
  }
  .contactUs .contact-details .contact-detail-name-chi{
    margin-top: 2.5rem;
  }

  .contactUs .contact-details .address-title-chi, .contactUs .contact-details .address-title-eng{
    font-size: 2rem;
  }

  .contactUs .contact-details .address-eng,
  .contactUs .contact-details .address-chi{
    width: 90%;
    font-size: 1.7rem;
    margin: 0 auto;
  }

  .contactUs .contact-details .phone-detail{
    font-size: 2rem;
  }

  .contactUs .phone-detail-reminder,
  .contactUs .phone-detail-time{
    font-size: 1.6rem;
  }

  .contactUs .map iframe{
    height: 400px;
  }
}