@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@200;300;500&display=swap');

@font-face {
  font-family: "HelveticaNeue";
  src: url("./Font/HelveticaNeue.ttc");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

html {
  font-size: 10px;
  font-family: "HelveticaNeue", "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a, a:hover, a:focus, a:active{
  text-decoration: none;
  color: inherit;
}

section {
  scroll-snap-align: start;
}

.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chi{
  font-family: 'Noto Sans HK', sans-serif;
}

.eng{
  font-family: "HelveticaNeue", "Montserrat", sans-serif;
}

.section-title-chi {
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  color: #5B7781;
}

.section-title-eng {
  font-family: "HelveticaNeue", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .8rem;
  color: #5B7781;
}


/* -------------------- Header --------------------*/
#header{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto
}

#header .header{
  background-image: url(./background/background.jpg);
  background-size: cover;
  background-position: top center;
  min-height: 8vh;
  box-shadow: 2px 2px 2px rgba(204, 204, 204, 0.459);
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

#header .brand img{
  height: 60px;
  margin-top: .5rem;
  margin-left: -.55rem;
  transform: scale(1.01);
}

#header .nav-bar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul{
  list-style: none;
  position: absolute;
  background-color: #95C6D1;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow-x: hidden;
  transition: .5s ease left;
}

/* open the meun bar */
#header .nav-list ul.active{
  left: 0;
}

#header .nav-list ul a{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .15rem;
  color: #5B7781;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after{
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(255, 255, 255, 0.164);
  font-size: 12rem;
  letter-spacing: 50px;
  z-index: -1;
  text-align: center;
  transition: .7s ease letter-spacing;
}

#header .nav-list ul li:hover a::after{
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a{
  color: white;
}

#header .hamburger{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70px;
  height: 70px;
  z-index: 100;
  cursor: pointer;
  margin-right: 10px;
  transform: all .5s ease-in-out
}

/* 3 hamburger bars*/
#header .hamburger .bar{
  height: 3px;
  width: 37px;
  background: #95C6D1;
  position: relative;
  border-radius: 40px;
  transition: all .5s ease-in-out;
  z-index: 10;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 37px;
  left: 0;
  background-color: #95C6D1;
  border-radius: 1px;
  transition: all .3s ease-in-out;
}

#header .hamburger .bar::after {
  transform: translateY(12px);
}

#header .hamburger .bar::before {
  transform: translateY(-12px);
}

#header .hamburger.active .bar{
  transform: translateX(-50px);
  background-color: transparent;
}

#header .hamburger.active .bar::after{
  transform: rotate(45deg) translate(35px, -37px);
  background-color: white;
}

#header .hamburger.active .bar::before{
  transform: rotate(-45deg) translate(37px, 35px);
  background-color: white;
}
/* End of header */


/* -------------------- Hero Section -------------------- */
#hero { 
  background-image: url(./background/background.jpg);
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
}

#hero::after{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 18vh;
  text-align: center;
  align-items: normal;
  position: relative;
  overflow: hidden;
}

#hero h1{
  font-size: 4vw;
  width: 80%;
  color: #95C6D1;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}

#hero h3{
  position: relative;
  display: block;
  width: fit-content;
  color: #95C6D1;
  margin: 0 auto;
  text-align: center;
  font-size: 3.7rem;
}

#hero .letter {
  opacity: 0;
  animation: title_animation 1s ease-in forwards;
  animation-iteration-count: 1;
  display: inline-block;
  font-size: 32px;
  color: #95C6D1;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

#hero .eng-letter {
  font-size: 2.5rem;
  letter-spacing: 0rem;
}

.scroll-down {
  height: 50px;
  width: 30px;
  /* border: 2px solid #95C6D1; */
  position: absolute;
  left: 50%;
  bottom: 50vh;
  transform: translateX(-50%);
  border-radius: 50px;
  cursor: pointer;
}

.scroll-down::before{
  content: "";
  position: absolute;
  top: 22%;
  left: 50;
  border: 2px solid #95C6D1;
  height: 16px;
  width: 16px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent; 
  animation: scroll-down 1s ease-in-out infinite;
}

/* .scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 22%;
  left: 50;
  border: 2px solid #95C6D1;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent; 
  animation: scroll-down 1s ease-in-out infinite;
} */

/* .scroll-down::after {
  top: 28%;
  animation-delay: .3s;
} */

.hero img{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

#elderly {
  bottom: -1.5rem;
}

#wave{
  bottom: -3rem;
}
/* End of Hero Section */



/* -------------------- Button Bar --------------------*/
#button-bar .button-bar{
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #95C6D1;
  box-shadow: 2px 2px 2px rgba(204, 204, 204, 0.459);
  border: 5px solid #95C6D1;

  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

#button-bar ul{
  list-style: none;
}

#button-bar a{
  text-decoration: none;
}

#button-bar .call,
#button-bar .timetable,
#button-bar .googleMap{
  width: 33.3%;
  height: 50px;
  border-right: 1.5px solid white;
  float: left;
  font-family: "HelveticaNeue", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2.5px;
  color: white;
  position: relative;
}

#button-bar img{
  height: 28px;
  width: auto;
}
  
#button-bar .googleMap{
  border: 0px;
}

#button-bar h3{
  font-size: 1rem;
  color: white;
  font-weight: lighter;
}
/* End of Button Bar */


/* -------------------- Footer --------------------*/
#footer {
  background-color: #5B7781;
}

#footer .footer{
  min-height: 40px;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 6rem;  
}

#footer .brand {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#footer p {
  color: white;
  font-size: .8rem;
  font-weight: 300;
  letter-spacing: .05rem;
  margin-top: 10px;
  margin-bottom: 15px;
}

#footer .logo-bottom img{
  width: 15rem;
  height: auto;
  /* transform: scale(.5); */
}

#footer .social-icon {
  display: flex;
}

#footer .social-item {
  margin: 0 5px;
}

#footer .social-item img{
  filter: grayscale(.4);
  transition: .3s ease filter;
}

#footer .social-item:hover img{
  filter: grayscale(0);
}
/* End of Footer */

/* -------------------- Keyframes -------------------- */
@keyframes title_animation{
  0%{
    opacity: 0;
  }100% {
    opacity: 1;
  }
}

@keyframes hamburger_plus{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes scroll-down{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    top: 88%;
  }
}
/* End of Keyframes */


/* -------------------- Media Query For Tablet --------------------*/
@media only screen and (min-width: 768px){
  #hero h1 {
    font-size: 3rem;
  }
  #hero h3 {
    font-size: 5rem;
  }
  .scroll-down {
    height: 80px;
    width: 50px;
    border: 2px solid #95C6D1;
  }
  #aboutUs .aboutUs {
    min-height: 90vh;
}
/* End of Media Query For Tablet*/