/* ---------- Hero: About Us ----------*/
#hero .hero .hero-aboutUs-chi{
  font-weight: 200;
  letter-spacing: .8rem;
}

#hero .hero .hero-aboutUs-eng{
  font-size: 2.6rem;
  letter-spacing: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: .8rem;
}

#hero .hero .animated-third-row,
#hero .hero .animated-fourth-row{
  width: 100%;
  margin: 0 auto;
}

#hero .hero .animated-third-row{
  padding-top: 2rem;
}
#hero .hero .animated-third-row span,
#hero .hero .animated-fourth-row span{
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 0;
}
/* ---------- End of Hero: About Us ----------*/


/* ---------- WtsKagina ----------*/
#wtsKagina{
  background: linear-gradient(to bottom, #D1F0F7, #D1F0F7 25%, #95C6D1 25%, #95C6D1 70%)
}

#wtsKagina .wtsKagina{
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: initial;
}

#wtsKagina .wtsKagina h3{
  color: #5B7781;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  padding: 4rem;
  padding-left: 0rem;
  align-self: flex-start;
}

#wtsKagina .wtsKagina .first-row-photo img{
  height: 30vh;
}

#wtsKagina .wtsKagina .second-row-photo .photo-box{
  float: left;
  width: 50%;
  padding: .5rem;
  padding-top: 1rem;
}

#wtsKagina .wtsKagina .second-row-photo .photo-box img{
  max-width: 100%;
}

#wtsKagina .wtsKagina .second-row-photo .left-photo{
  padding-left: 0;
}

#wtsKagina .wtsKagina .second-row-photo .right-photo{
  padding-right: 0;
}

#wtsKagina .wtsKagina p{
  color: white;
  font-size: 1.5rem;
  margin-top: 1.1rem;
  letter-spacing: .08rem;
  font-weight: 200;
}



/* ---------- End of WtsKagina ----------*/