/* ---------- Hero: About Us ----------*/
#hero .hero .hero-aboutUs-chi{
  font-weight: 200;
  letter-spacing: .8rem;
}

#hero .hero .hero-aboutUs-eng{
  font-size: 2.6rem;
  letter-spacing: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: .8rem;
}

#hero .hero .animated-third-row,
#hero .hero .animated-fourth-row{
  width: 100%;
  margin: 0 auto;
}

#hero .hero .animated-third-row{
  padding-top: 2rem;
}
#hero .hero .animated-third-row span,
#hero .hero .animated-fourth-row span{
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 0;
}
/* ---------- End of Hero: About Us ----------*/


/* ---------- WtsKagina ----------*/
#wtsKagina{
  background: linear-gradient(to bottom, #D1F0F7, #D1F0F7 32%, #95C6D1 32%, #95C6D1 70%)
}

#wtsKagina .wtsKagina{
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: initial;
  padding-bottom: 4rem;
}

#wtsKagina .wtsKagina h3{
  color: #5B7781;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  padding: 4rem;
  padding-left: 0rem;
  margin-top: 4rem;
  align-self: flex-start;
}

#wtsKagina .wtsKagina .first-row-photo img{
  /* height: 30vh; */
  max-width: 100%;
}

#wtsKagina .wtsKagina .second-row-photo .photo-box{
  float: left;
  width: 50%;
  padding: .5rem;
  padding-top: 1rem;
}

#wtsKagina .wtsKagina .second-row-photo .photo-box img{
  max-width: 100%;
}

#wtsKagina .wtsKagina .second-row-photo .left-photo{
  padding-left: 0;
}

#wtsKagina .wtsKagina .second-row-photo .right-photo{
  padding-right: 0;
}

#wtsKagina .wtsKagina p{
  color: white;
  font-size: 1.5rem;
  margin-top: 1.1rem;
  letter-spacing: .08rem;
  font-weight: 200;
}

/* ---------- End of WtsKagina ----------*/

/* ---------- Features ---------- */
#features .features{
  width: 90%;
  flex-direction: column;
  margin: 2rem auto;
  color: #5B7781;
  text-transform: uppercase;
  margin-bottom: 0;
}

#features .features .first-feature,
#features .features .second-feature,
#features .features .third-feature{
  width: 100%;
  overflow: hidden;
  position: relative;
}

#features .features .third-feature{
  margin-top: .5rem;
}

#features .feature-box{
  background-color: #D1F0F7;
  height: 8rem;
  padding: 1.5rem;
  padding-top: .8rem;
  font-size: 1.6rem;
  width: 85%;
  position: relative;
  bottom: 20px;
}

#features .feature-box .feature-chi{
  font-weight: 200;
  letter-spacing: .3rem;
  line-height: 2.4rem;
}

#features .feature-box .feature-eng{
  font-weight: lighter;
  letter-spacing: .1rem;
  line-height: 1.7rem;
}
/* ---------- End of Features ---------- */


/* ---------- ourVision ---------- */
#vision .vision{
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
}

#vision .vision .vision-title{
  background-color: #5B7781;
  padding: 1rem;
  width: 100%;
  color: white;
  text-align: center;
  height: 10vh;

}

#vision .vision .vision-title-chi{
  font-size: 1.8rem;
  font-weight: 200;
  letter-spacing: .1rem;

}

#vision .vision .vision-title-eng{
  font-size: 1.6rem;
  letter-spacing: .4rem;
  line-height: 1.3rem;
}
/* ---------- End of ourVision ---------- */


/* physiotherapist */
#doctor .doctor{
  width: 90%;
  margin: 0 auto;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  color: #5B7781;
}

#doctor .doctor .doctor-title{
  background-color: #5B7781;
  padding: 1rem;
  width: 100%;
  color: white;
  text-align: center;
  height: 10vh;

}

#doctor .doctor .doctor-title-chi{
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: .1rem;
  line-height: 2.35rem;
}

#doctor .doctor .doctor-title-eng{
  font-size: 1.1rem;
  letter-spacing: .3rem;
  line-height: 1.3rem;
  text-transform: uppercase;
}

#doctor .doctor-img img{
  margin-top: 1.5rem;
}

#doctor .doctor-text{
  padding: 2rem;
}

#doctor .doctor-text-title .doctor-text-title-chi{
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: .3rem;
}

#doctor .doctor-text-title .doctor-text-title-eng{
  font-size: 1.7rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

#doctor .doctor-text-cert-chi{
  margin: 2.5rem 0;
  margin-bottom: 3.5rem;
}


#doctor .doctor-text-cert-eng{
  margin-bottom: 2rem;
}

#doctor .doctor-text .doctor-text-cert-chi h3{
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: .1rem;
  padding-top: .8rem;
}

#doctor .doctor-text .doctor-text-cert-eng h3{
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: .02rem;
  padding-top: .6rem;
}


/* Provided Treatment */
#provided-treatment{
  background-color: #D1F0F7;
}

#provided-treatment .provided-treatment{
  height: 65vh;
  width: 90%;
  margin: 0 auto;
  color: #5B7781;
  text-transform: uppercase;
  text-align: center;
}

#provided-treatment .provided-treatment-top{
  padding: 2rem;
}

#provided-treatment .provided-treatment-mid{
  margin-top: 1.5rem;  
}

#provided-treatment .provided-treatment-chi{
  letter-spacing: 1rem;
  font-size: 3rem;
  font-weight: 300;
}

#provided-treatment .provided-treatment-eng{
  letter-spacing: .4rem;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 2.5rem;
}

#provided-treatment .provided-treatment-small{
  font-size: 1.1rem;
  font-weight: 200;
  margin-top: 1rem;
}

#provided-treatment .provided-treatment-bottom{
  padding: 2rem;
  color: #5B7781;
  margin: 1rem 0;
}

#provided-treatment .treatment-bottom-chi{
  font-size: 1.4rem;
  font-weight: 200;
}

#provided-treatment .treatment-bottom-eng{
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: .15rem;
}